*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 30%;
    height: 30%;
}

.cabeçalho-imagem{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.filme-imagem{
    width: 20%;
}

.filme{
    background-image: linear-gradient(#424E61,#4ebfe9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.filme-div-conteudo{
    width: 35%;
}
.filme-titulo{
    padding: 24px 0;
}

.filme-imagem{
    width: 140px;
}

.filme-icone{
    width: 24px;
}

.filme-imagem-classe{
    width: 180px;
}

.filme-div{
    text-align: center;
}

.filme-2{
    background-image: linear-gradient(#424E61,#4ebfe9);
    color: white;
    justify-content: left;
    align-items: start;
    padding: 24px 0;
}